# local configuration files
.env
.envrc
*.local.toml

# log and debug outputs
*.log
*.pdb
*.prof
*.profraw
*.lcov
*.lprof
emissions.csv
intel_power_gadget_log.csv
.coverage*
coverage.*
coverage-summary.md
diff-cover.*
cov-reports/
test-logs/
htmlcov/
perf.data*
*.pkl
*.zst
*.gz
*.bz2

# caches and working directories
__pycache__/
*.pyc
.ipynb_checkpoints/
dask-worker-space/
.idea/
.*_cache/
.hypothesis/
.tox/
.vagrant/
.venv/
.pixi/
.uv/
scratch/

# build outputs
/build/
/dist/
/target/
/output/
*.egg-info
*.pyd
*.so
*.dll
*.exp
*.lib
*.o
*.obj
src/lenskit/**/*.c
*.toml.saved

# environment locks that aren't committed
/*env*.yml
conda-lock.yml
conda*.lock
*.lock.yml

# Editor and OS cruft
.DS_Store
._.DS_Store
*~
*.tmp
.vs/

# CPP configurations are per-environment
.vscode/c_cpp_properties.json
# pixi environments
.pixi
