*.log
*.pdb

__pycache__/
*.pyc
*.prof
*.lprof
.ipynb_checkpoints/

.eggs/
.*_cache/
.vscode/
*.egg-info/
build/
dist/
.coverage
coverage.xml
htmlcov/
/data/
.doit.db*
ml-100k
doc/ml-latest-small
my-eval/
*.pyd
*.so
*.dll
*.exp
*.lib
*.o
*.obj

dask-worker-space/

build-env/
.tox/
