*.log
*.pdb

__pycache__/
*.pyc
*.prof
*.lprof
.ipynb_checkpoints/
.idea/
.vs/

.eggs/
.*_cache/
.vscode/
*.egg-info/
build/
dist/
.coverage*
coverage.xml
cov-reports/
test-logs/
htmlcov/
my-eval/
doc/data/
*.pyd
*.so
*.dll
*.exp
*.lib
*.o
*.obj
/*env*.yml
*.lock
*.lock.yml
*.tar.bz2

dask-worker-space/
.hypothesis/

build-env/
.tox/
pythonenv*/
.vagrant/
scratch/
emissions.csv
intel_power_gadget_log.csv

.DS_Store
