[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "lenskit"
authors = [
    {name = "Michael Ekstrand", email = "michaelekstrand@boisestate.edu"}
]
classifiers = [
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Operating System :: OS Independent",
    "Intended Audience :: Science/Research",
]
readme = "README.md"
license = { file = "LICENSE.md" }
requires-python = ">= 3.7"
dynamic = ['version', 'description']
dependencies = [
    "pandas >=1.0",
    "numpy >= 1.17",
    "scipy >= 1.2",
    "numba >= 0.51, < 0.59",
    "cffi >= 1.12.2",
    "psutil >= 5",
    "binpickle >= 0.3.2",
    "seedbank >= 0.1.0",
    "csr >= 0.3.1",
]

[project.urls]
homepage = "https://lenskit.org"
documentation = "https://lkpy.lenskit.org"
source = "https://github.com/lenskit/lkpy"

[project.optional-dependencies]
test = [
    "pytest >= 6",
    "pytest-doctestplus >= 0.9",
    "hypothesis >= 6"
]
dev = [
    "lenskit-build-helpers >=0.1",
    "flit >= 3",
    "invoke >=1",
    "flake8 >= 3",
    "coverage >= 5",
    "pytest-cov >= 2.12",
    "ipython == 7.*",
    "docopt >= 0.6",
    "tqdm >= 4",
    "sphinx-autobuild >= 2021",
]
doc = [
    "sphinx >= 4.2",
    "sphinxcontrib-bibtex >= 2.0",
    "sphinx_rtd_theme >= 0.5",
    "nbsphinx >= 0.8",
    "ipython == 7.*",
    "notebook >=6",
]
demo = [
    "notebook >= 6",
    "nbval >= 0.9",
    "matplotlib ~= 3.4",
]
sklearn = ["scikit-learn >= 0.22"]
tf = ["lenskit-tf"]
hpf = ["lenskit-hpf"]
implicit = ["lenskit-implicit"]

[tool.flit.sdist]
exclude = [
    ".github",
    "*.ipynb",
    "docs",
    "data",
    "examples",
    "build-tools",
    "lkbuild",
    "tasks.py",
    "tests",
]

[tool.conda-lock]
channels = [
    "conda-forge",
    "lenskit",
]
