@import url(https://fonts.bunny.net/css?family=source-sans-3:400,400i,500,500i,700,700i|source-code-pro:300,300i,400,400i,500,500i,700,700i);

html {
    --pst-font-family-base: "Source Sans 3", var(--pst-font-family-base-system);
    --pst-font-family-heading: "Source Sans 3", var(--pst-font-family-base-system);
    --pst-font-weight-heading: 500;
    --pst-font-family-monospace: "Source Code Pro", var(--pst-font-family-monospace-system);
}
