name: Test Suite
on:
  push:
    branches:
      - main
  pull_request:
jobs:
  conda:
    name: Conda Python ${{matrix.python}} on ${{matrix.platform}} with ${{matrix.blas}}
    runs-on: ${{matrix.platform}}-latest
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        python:
        - 3.7
        - 3.8
        - 3.9
        platform:
        - macos
        - windows
        - ubuntu
        blas:
        - mkl
        - openblas
        exclude:
        - platform: macos
          python: 3.9
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Initialize Conda
        uses: s-weigand/setup-conda@v1
        with:
          python-version: ${{matrix.python}}
          conda-channels: conda-forge

      - name: Prepare Conda environment spec
        shell: bash
        run: |
          conda clean -i
          conda install -qy -c conda-forge flit packaging pyyaml
          e_opts="-E ${{matrix.blas}}"
          if [ $RUNNER = Linux -a $PYVER = 3.8 ]; then
            echo "Using most extras"
            # we'll test tensorflow in a separate run
            e_opts="-E demo -E implicit -E sklearn"
          fi
          python build-tools/flit-conda.py $e_opts --python-version $PYVER --save-env environment.yml
          cat environment.yml
        env:
          RUNNER: ${{runner.os}}
          PYVER: ${{matrix.python}}
          BLAS_IMPL: ${{matrix.blas}}
          
      - name: Create Conda environment
        run: |
          conda env update -n base -f environment.yml

      - name: Inspect environment
        run: |
          python -V
          numba -s
      
      - name: Test LKPY
        run: |
          python -m pytest --cov=lenskit --verbose --log-file=test.log
        env:
          NUMBA_NUM_THREADS: 4
          MKL_THREADING_LAYER: sequential
          OMP_NUM_THREADS: 1
          OPENBLAS_NUM_THREADS: 1
      
      - name: Non-JIT Test Coverage
        if: runner.os == 'Linux'
        env:
          NUMBA_DISABLE_JIT: 1
        run: |
          python -m pytest --cov=lenskit --cov-append -m 'not slow' --log-file=test-nojit.log

      - name: Upload logs
        uses: actions/upload-artifact@v2
        with:
          name: log-conda-${{matrix.platform}}-py${{matrix.python}}-${{matrix.blas}}
          path: |
            test*.log
            emissions.csv

      - name: Aggreagate Coverage Data
        run: |
          coverage xml

      - uses: codecov/codecov-action@v1

  check-tf:
    name: Test TensorFlow on ${{matrix.platform}}
    timeout-minutes: 30
    runs-on: ${{matrix.platform}}-latest
    strategy:
      matrix:
        platform: 
          - ubuntu
          # - windows

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Initialize Conda
        uses: s-weigand/setup-conda@v1
        with:
          python-version: '3.8'
          conda-channels: conda-forge

      - name: Prepare Conda environment spec
        shell: bash
        run: |
          conda clean -i
          conda install -qy -c conda-forge flit packaging pyyaml
          python build-tools/flit-conda.py -E tf --python-version $PYVER --save-env environment.yml
          cat environment.yml
        env:
          PYVER: '3.8'
          
      - name: Create Conda environment
        run: |
          conda env update -n base -q -f environment.yml

      - name: Download ML-100K
        shell: pwsh
        run: |
          ./fetch-datasets.ps1 ml-100k

      - name: Install for Testing
        run: |
          flit install -s --deps develop --extras tf

      - name: Run Tests
        run: |
          python -m pytest --cov=lenskit --cov-report=xml -k tensorflow --log-file=test.log

      - name: Upload logs
        uses: actions/upload-artifact@v2
        with:
          name: log-tensorflow
          path: |
            test*.log
            emissions.csv

      - name: Upload Coverage
        uses: codecov/codecov-action@v1

  check-docs:
    name: Docs, Examples, and Eval
    timeout-minutes: 30
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Initialize Conda
        uses: s-weigand/setup-conda@v1
        with:
          python-version: '3.8'
          conda-channels: conda-forge

      - name: Prepare Conda environment spec
        shell: bash
        run: |
          conda clean -i
          conda install -qy -c conda-forge flit-core packaging pyyaml
          python build-tools/flit-conda.py -E demo -E mkl --python-version $PYVER --save-env environment.yml
          cat environment.yml
        env:
          PYVER: '3.8'
          
      - name: Create Conda environment
        run: |
          conda env update -n base -q -f environment.yml

      - name: Cache ML data
        uses: actions/cache@v2
        with:
          path: |
            data
            !data/*.zip
          key: test-mldata

      - name: Download ML Data
        shell: pwsh
        run: |
          ./fetch-datasets.ps1 ml-100k ml-1m ml-10m ml-20m

      - name: Install for Testing
        run: 
          flit install --deps none -s

      - name: Run Eval Tests
        run: |
          python -m pytest --cov=lenskit -m eval --log-file test-eval.log
          python -m pytest --cov=lenskit --cov-append -m realdata --log-file test-realdata.log

      - name: Validate Doc Notebooks
        run: |
          cp doc/*.ipynb data
          python -m pytest --nbval-lax --cov=lenskit --cov-append data --log-file test-docs.log

      - name: Validate Examples
        run: |
          python -m pytest --nbval-lax --cov=lenskit --cov-append examples --log-file test-examples.log

      - name: Upload logs
        uses: actions/upload-artifact@v2
        with:
          name: log-check-docs
          path: |
            test*.log
            emissions.csv

      - name: Aggreagate Coverage Data
        run: |
          coverage xml

      - name: Upload Coverage
        uses: codecov/codecov-action@v1

  vanilla:
    name: Vanilla Python ${{matrix.python}} on ${{matrix.platform}}
    runs-on: ${{matrix.platform}}-latest
    strategy:
      fail-fast: false
      matrix:
        python:
        - 3.7
        - 3.8
        platform:
        - windows
        - ubuntu
    steps:
      - name: Check out source
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      
      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: ${{matrix.python}}
          architecture: x64

      - name: Set up Python deps
        env:
          PIP_PREFER_BINARY: 'true'
        run: |
          python -m pip install -U flit
          flit install --deps develop --pth-file
      
      - name: Run tests
        run: |
          python -m pytest --cov=lenskit --cov-report=xml --log-file=test.log

      - name: Non-JIT Test Coverage
        if: runner.os == 'Linux' && matrix.python == 3.8
        env:
          NUMBA_DISABLE_JIT: 1
        run: |
          python -m pytest --cov=lenskit --cov-append -m 'not slow' --log-file=test-nojit.log
      
      - name: Aggreagate Coverage Data
        run: coverage xml
      
      - name: Upload coverage
        uses: codecov/codecov-action@v1

      - name: Upload logs
        uses: actions/upload-artifact@v2
        with:
          name: log-vanilla-${{matrix.platform}}-py${{matrix.python}}
          path: |
            test*.log
            emissions.csv


  mindep:
    name: Minimal Supported Dependencies
    runs-on: ubuntu-latest
    steps:
      - name: Check out source
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      
      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: '3.7'
          architecture: x64

      - name: Set up Python deps
        run: |
          python -m pip install -U pip
          python -m pip install -c min-constraints.txt .[test]
          python -m pip install pytest-cov

      - name: Run tests
        run: |
          python -m pytest --cov=lenskit --cov-report=xml --log-file test.log

      - name: Upload logs
        uses: actions/upload-artifact@v2
        with:
          name: log-mindep
          path: |
            test*.log
            emissions.csv
        
      - name: Upload coverage
        uses: codecov/codecov-action@v1

  results:
    name: Test Suite Results
    runs-on: ubuntu-latest
    needs:
    - conda
    - vanilla
    - check-tf
    - check-docs
    - mindep

    steps:
      - name: Check out source
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - uses: actions/download-artifact@v2
        with:
          path: test-logs
      
      - name: List log files
        run: ls -lR test-logs

      - name: Set up Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
          architecture: x64

      - name: Install script deps
        run: |
          python -m pip install pandas docopt

      - name: Upload all test data
        uses: actions/upload-artifact@v1
        with:
          name: test-outputs
          path: test-logs
